nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 10%;

}


nav h2{

color:#A66A3F;

font-size:28px;

}


nav a{

margin-left:25px;

color:#3B3028;

text-decoration:none;

cursor:pointer;

}



.hero{

min-height:80vh;

display:flex;

align-items:center;

justify-content:center;

gap:80px;

padding:50px;

}

.hero img{

display:block;

width:280px;
height:280px;

border-radius:50%;

object-fit:cover;

}


.hero h1{

font-size:50px;

margin-bottom:10px;

}



.hero span{

color:#A66A3F;

}



.hero h2{

font-weight:normal;

}



.hero p{

max-width:450px;

line-height:1.8;

}



button{

background:#A66A3F;

color:white;

border:none;

padding:15px 35px;

border-radius:30px;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#7D4B2C;

}

.about{

padding:80px 10%;

text-align:center;

}


.about h2{

font-size:35px;

color:#A66A3F;

}


.about p{

max-width:700px;

margin:20px auto;

line-height:1.8;

font-size:18px;

}
.skills{

padding:80px 10%;

text-align:center;

}


.skills h2{

font-size:35px;

color:#A66A3F;

}



.skill-container{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}



.skill-card{

background:#fff;

padding:30px;

width:250px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

}



.skill-card h3{

color:#A66A3F;

}



.skill-card p{

line-height:1.8;

}
.project-card h4{

color:#A66A3F;

font-size:16px;

margin:10px 0;

}

.activities{

padding:80px 10%;

text-align:center;

}

.activity-container{

display:grid;

grid-template-columns:repeat(3, 300px);

justify-content:center;

gap:30px;

margin-top:40px;

}


.activity-card{

background:white;

width:300px;

height:400px;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,0.08);

text-align:center;

box-sizing:border-box;

display:flex;

flex-direction:column;

justify-content:center;

}


.activity-card h3{

color:#A66A3F;

font-size:20px;

margin-bottom:20px;

}



.activity-card p{

line-height:1.8;

}

.project-card button{

background:#3B3028;

color:white;

border:none;

padding:10px 25px;

border-radius:20px;

cursor:pointer;

margin-top:15px;

}


.project-card button:hover{

background:#A66A3F;

}
