body{

margin:0;

background:#F7F0E6;

color:#3B3028;

font-family:Arial;

}


*{

box-sizing:border-box;

}
.projects{

padding:80px 10%;

text-align:center;

}


.projects h2{

font-size:35px;

color:#A66A3F;

}



.project-container{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

margin-top:40px;

}



.project-card{

background:white;

padding:30px;

border-radius:20px;

text-align:left;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

}



.project-card h3{

color:#A66A3F;

}



.project-card p{

line-height:1.7;

}

html{

scroll-behavior:smooth;

}